* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(202, 202, 202);
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow: auto;
}

#weather-card {
    border: 1px solid black;
    /* margin: 0 20px 20px 250px; */
    max-height: 365px;
    width: 30vw;
    background-image: url(../images/weather-card-background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    padding: 10px 0 0 10px;
    text-align: center;
}

a {
    color: white;
}

.wind-info p {
    display: inline-block;
}

.navbar-brand {
    color: white;
}


.row {
    margin: 0;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    display: inline-flex;
    align-items: center;
}

#your-local-weather {
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px 9px black;
    margin: 0 auto;
}

form {
    border-bottom: 1px solid black;
    /* margin-top: -3px; */
    /* margin-left: 40px; */
}

input {
    text-align: center;
    /* width: 18vw; */
}

#get-weather {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightblue;
}

#get-weather:hover {
    background-color: rgb(34, 143, 198);
}


.bg-primary {
    height: 75px;
    width: 100%;
}

#myMap {
    width: 400px;
    height: 365px;
}

.five-day-forecast {
    border: 1px solid black;
    margin: 5px 15px 0 0;
    text-align: center;
    padding: 5px 30px 0;
    background-color: rgba(43, 43, 114, 0.75);
    color: white;
    border-radius: 10px;
}

.five-day-forecast p:first-child {
    margin: 10px 0;
}

#weather-icon {
    margin-top: 20px;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 30px;
}

#temperature {
    margin-top: 30px;
}

#five-day-container {
    margin-top: -30vh;
    width: fit-content;
    font-size: 24px;
    text-align: center;
}

#weather {
    display: flex;
    flex-direction: row;
    line-height: 1;
    width: fit-content;
}

#major-cities button {
    width: 18vw;
    height: 40px;
    margin-top: 14px;
    border-radius: 5px;
}

#major-cities button:first-child {
    margin-top: 20px;
}

.five-day-icon {
    background-color: rgba(114, 114, 114, 0.733);
    border-radius: 30px;
    margin: 10px auto;
}

#main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search-history-container,
#weather-search {
    display: flex;
    flex-direction: column;
    /* width: 18vw; */
}

/* #search-history-container {
    min-height: 600px;
    max-height: 500px;
    width: 350px;
    overflow: scroll;
    margin-left: 40px;
} */

/* #search-history-container::-webkit-scrollbar {
    display: none;
} */

.navbar-brand:hover {
    color: white;
}

#weather p {
    line-height: 1.2;
}

.row {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1560px) and (max-width: 1716px) {
    #five-day-container {
        font-size: 20px;
    }
}

@media screen and (max-width: 1559px) {
    #weather-card {
        margin-left: 180px;
        font-size: 16px;
        padding-top: 30px;
        width: 40vw;
    }

    #myMap {
        width: 22vw;
    }

    #five-day-container {
        font-size: 12px;
    }
}






.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.card {
    width: 250px;
    height: 250px;
}