* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(202, 202, 202);
    margin: 0;
    padding: 0;
}

#weather-card {
    border: 1px solid black;
    max-height: 365px;
    width: 90%;
    background-image: url(../images/weather-card-background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    padding: 30px 0 30px 10px;
    text-align: center;
    margin-left: 25px;
}

a {
    color: white;
}

.wind-info p {
    display: inline-block;
}

.navbar-brand {
    color: white;
}


.row {
    margin: 0;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    display: inline-flex;
    align-items: center;
}

#your-local-weather {
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px 9px black;
    margin: 0 auto;
}

form {
    border-bottom: 1px solid black;
}

input {
    text-align: center;
    width: 100%;
}

#get-weather {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightblue;
}

#get-weather:hover {
    background-color: rgb(34, 143, 198);
}


.bg-primary {
    height: 75px;
    width: 100%;
}

#myMap {
    width: fit-content;
    height: 365px;
}

.five-day-forecast {
    border: 1px solid black;
    margin: 5px 15px 0 0;
    text-align: center;
    padding: 5px 30px 0;
    background-color: rgba(43, 43, 114, 0.75);
    color: white;
    border-radius: 10px;
}

.five-day-forecast p:first-child {
    margin: 10px 0;
}

#weather-icon {
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 30px;
}

#five-day-container {
    width: fit-content;
    text-align: center;
    height: 400px;
}

#five-day {
    display: flex;
    justify-content: center;
}

#weather {
    display: flex;
    flex-direction: row;
    line-height: 1;
    width: fit-content;
}

#major-cities button {
    width: 100%;
    height: 40px;
    margin-top: 14px;
    border-radius: 5px;
}

#major-cities button:first-child {
    margin-top: 14px;
}

.five-day-icon {
    background-color: rgba(114, 114, 114, 0.733);
    border-radius: 30px;
    margin: 10px auto;
}

#search-history-container,
#weather-search {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.navbar-brand:hover {
    color: white;
}

#weather p {
    line-height: 1.2;
}

.row {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 30px;
    height: 1350px;
}

@media screen and (min-width: 826px) and (max-width: 991px) {
    #weather-card {
        margin-left: 10px;
    }

    #get-weather {
        width: 300px;
    }

    #search-history-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: 5px;
    }

    .container {
        margin-top: 10px;
    }

    #major-cities {
        margin-bottom: 10px;
    }

    #weather-search {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 825px) {
    #weather-card {
        margin-left: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    #get-weather {
        width: 300px;
    }

    #search-history-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: 5px;
    }

    .container {
        margin-top: 10px;
    }

    #major-cities {
        margin-bottom: 10px;
    }

    #weather-search {
        width: 50%;
        margin: 0 auto;
    }

    .five-day-forecast {
        width: 115px;
        padding: 0;
    }

    #five-day-container {
        margin-top: 15px;
    }

    #myMap {
        max-height: 314px;
    }
}

@media screen and (min-width: 670px) and (max-width: 767px) {
    #weather-card {
        margin-left: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    #get-weather {
        width: 300px;
    }

    #search-history-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: 5px;
    }

    .container {
        margin-top: 10px;
    }

    #major-cities {
        margin-bottom: 10px;
    }

    #weather-search {
        width: 68%;
        margin: 0 auto;
    }

    .five-day-forecast {
        width: 115px;
        padding: 0;
    }

    #five-day-container {
        margin-top: 15px;
    }

    #myMap {
        max-height: 347px;
    }
}

@media screen and (min-width: 595px) and (max-width: 669px) {
    #weather {
        flex-wrap: wrap;
        justify-content: center;
    }

    #weather-card {
        margin-left: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    #get-weather {
        width: 300px;
    }

    #search-history-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: 5px;
    }

    .container {
        margin-top: 10px;
    }

    #major-cities {
        margin-bottom: 10px;
    }

    #weather-search {
        width: 68%;
        margin: 0 auto;
    }

    .five-day-forecast {
        width: 115px;
        padding: 0;
    }

    #five-day-container {
        margin-top: 15px;
    }

    #myMap {
        max-height: 347px;
    }
}

@media screen and (min-width: 576px) and (max-width: 594px) {
    #weather {
        flex-wrap: wrap;
        justify-content: center;
    }

    #weather-card {
        margin-left: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    #get-weather {
        width: 300px;
    }

    #search-history-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: 5px;
    }

    .container {
        margin-top: 10px;
    }

    #major-cities {
        margin-bottom: 10px;
    }

    #weather-search {
        width: 68%;
        margin: 0 auto;
    }

    .five-day-forecast {
        width: 115px;
        padding: 0;
    }

    #five-day-container {
        margin-top: 15px;
    }

    #myMap {
        max-height: 314px;
    }
}

@media screen and (max-width: 575px) {
    #weather {
        flex-wrap: wrap;
        justify-content: center;
    }

    #weather-card {
        margin: 0 auto;
        margin-bottom: 20px;
        padding-right: 10px;
        font-size: 16px;
    }

    #get-weather {
        width: 300px;
    }

    #search-history-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        gap: 5px;
    }

    .container {
        margin-top: 10px;
    }

    #major-cities {
        margin-bottom: 10px;
    }

    #weather-search {
        width: 68%;
        margin: 0 auto;
    }

    .five-day-forecast {
        width: 115px;
        padding: 0;
    }

    #five-day-container {
        margin-top: 15px;
        margin-bottom: 50px;
    }

    #myMap {
        max-height: 314px;
    }

    #your-local-weather {
        font-size: 16px;
    }

    #major-cities button {
        font-size: 10px;
    }
}